---
export const prerender = false;
import Admin from "../../components/react/Admin/Admin"
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Panel - Euphuism 2026</title>
</head>
<body>
  <Admin client:only="react" />
</body>
</html>

