---
import LoginForm from "../../components/react/Admin/LoginForm";
export const prerender = false;

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Login</title>
    <style is:global>
      @import "../../globals.css";
    </style>

</head>
<body>
    <LoginForm  client:load/>
</body>
</html>
